.product{
    width: 250px;
    /* border: 1px solid; */
    padding: 10px;
    background-color: #DEDEDE;
    border-radius: 10px;
}
.product>div{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.sz{
    background-color: black;
    color: white;
    border-radius: 30px;
}